h1{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
    margin-top: 20%;

}
#topleft{
    width: 33%;
    height: 33%;
    background-color: yellow;
    float: left;
}

#topmid{
    width: 33%;
    height: 33%;
    background-color: red;
    float: left;
}

#topright{
    width: 33%;
    height: 33%;
    background-color: blue;
    float: left;
}

#midleft{
    width: 33%;
    height: 33%;
    background-color: green;
    float: left;
}

#midmid{
    width: 33%;
    height: 33%;
    background-color: white;
    float: left;
}

#midright{
    width: 33%;
    height: 33%;
    background-color: purple;
    float: left;
}

#botleft{
    width: 33%;
    height: 33%;
    background-color: grey;
    float: left;
}

#botmid{
    width: 33%;
    height: 33%;
    background-color: pink;
    float: left;
}

#botright{
    width: 33%;
    height: 33%;
    background-color: orange;
    float: left;
}
